*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: brown;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#cardPack {
  display: flex;
  margin-top: 100px;
}

.cartas {
  margin: 5px;
  border-radius: 15px;
  width: 220px;
}

.buttons {
  /* width: 200px; */
  display: flex;
  justify-content: space-around;
}

button {
  width: 100px;
  background-color: aliceblue;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  transform: scale(0.9);
}

#score {
  font-size: 2rem;
  font-weight: bold;
}

.cards-container {
  display: none;
}